torch
transformers==4.53.2
bitsandbytes==0.46.1
peft==0.16.0
langchain==0.2.16
chromadb==0.5.0
telebot==0.0.5
googletrans==3.1.0a0
pandas==2.2.2
requests==2.32.3
Pillow==11.2.1
langchain-community==0.2.16
dotenv==0.9.9